{% set dstr = "" %}
{% for k,d in data %}
    {% set dstr = dstr ~ ' data-' ~ k ~ '="' ~ d ~'"' %}
{% endfor %}

<select name="{{ name }}" id="{{ id }}" class="{{ class }}"{{ dstr|raw }}{% if disabled %} disabled{% endif %}{% if required %} required{% endif %}{% if multiple %} multiple{% endif %}>
    <option disabled selected value=""></option>
    <optgroup label="">
        {% for term in terms %}
            {% if term.title == "-" %}
                {% if term.title == "-" and loop.index == 1 %}
                {% else %}
                    </optgroup>
                    <optgroup label="">
                {% endif %}
            {% else %}
                <option value="{{ term.id }}"{{ (term.id in selected) ? ' selected' : '' }}>{{ term.title|raw }}</option>
            {% endif %}
        {% endfor %}
    </optgroup>
</select>
