{% import _self as taxon %}

<div class="taxonomy-selector" id="{{ id }}">
    <ol class="taxonomy-list">
        {% for k,term in terms %}
            {% if term.title[0:3] != "---" %}
                {{ taxon.items(selector, term, selected, name, class) }}
                {% set spacer = false %}
            {% else %}
                {% set spacer = true %}
            {% endif %}
        {% endfor %}
    </ol>
</div>

{% macro items(selector, item, selected, name, class) %}
    {% import _self as taxon %}
    <li class="taxonomy-item" data-id="{{ item.id }}">
        {% set sel = item.id in selected ? ' checked' : '' %}
        <div class="term-radio">
            <input type="{{ selector }}" name="{{ name }}" class="{{ class }}" value="{{ item.id }}"{{ sel }} data-term="{{ item.title }}" data-default-selected="{% if item.id in selected %}true{% else %}false{% endif %}" />
        </div>
        <div class="term-content">
            <div class="term-title" data-term-id="{{ item.id }}">
                <p>
                    {{ item.title|raw }}
                </p>
            </div>
        </div>

        {% if item.children is defined %}
            <ol class="taxonomy-list">
                {% for k,child in item.children %}
                    {{ taxon.items(selector, child, selected, name, class) }}
                {% endfor %}
            </ol>
        {% endif %}
    </li>
{% endmacro %}